*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #20897b;
    padding: 14px 16px;
   display: block;
   width: 100%;
   overflow: hidden;
   background-position: fixed;
    color: white;
  
}
.logo{
    display: inline;
}

.navbar p{
    text-align: end;
    display: block;
    float: right;
}
li{
    /* height: 100px; */
    overflow: hidden;
}
i{
    cursor: pointer;
    color: white;
}

.home{
  width: 100px;
 
  display: flex;
  flex-direction: column;
  display:none;
  background-color: white;
    
}
.main{
    display: flex;
    justify-content: space-between;
   padding: 10px;
   background-color: #4ba89c;
   border-top: 1px solid white ;
}
.middle{
    text-align: center;
    padding: 5px;
    background-color: #e4f7f6 ;
    border:1px solid #3ee8df;
    color: #0faea6;
}
.ban1,.ban2{
    width: 16vw;
    margin: 2vw;
}

.facility{
    display:block;
    /* justify-content: center ;
    align-items: baseline; */
    width: 100%;
margin: 35px;
}
.facility .item{
    width:16%;
    float: left;
    /* display: flex;
    flex-direction: column; */
    padding: 6px;
    /* justify-content: center;
    align-items: center; */
text-align: center;
}
 .blank::before{
    display: block;
    clear: both;

 }
.facility .img
img{
    width:138px ;
}
.facility .written{
    font-size: 1rem;
}

@media screen and (max-width:468px){
    
    .facility .item{width: 100%;}

}
@media screen and (min-width:468px) and (max-width:871px){
    .facility .item{
width: 50%;
    }
}