.detail,.Qualifaction{
    margin-top: 50px;
    /* display: inline-block; */
    margin-left: 30px;
   
}
.carousel{
    overflow: hidden;
}

.Qualifaction>h5{
    margin-left: 14px;
    color: greenyellow;
}
